p{
    border-top: 10px solid red;
    border-right: 20px dashed blue;
    border-bottom: 30px dotted green ;
    border-left: 40px double yellow;
    padding: 10px;
    height: 200px;
}
h2{
    border: 10px solid red;
    width: 100px;
    height: 100px;
    padding: 10px;
}
/* border color will be applied by default as text color */
h3{
    border: 20px groove;
    color: rgb(86, 7, 244);
    padding: 10px;
}
/* BY DEFAULTS:
                A.Style:None
                B.Width:2.4px
                C.Color:Text color */
div{
    color: rgb(0, 255, 34);
    background-color: blueviolet;
    padding: 20px;
    border: 10px solid red;
    border-radius: 25px 0px 25px;
    border-top-width: 30px;
    border-bottom-style:dotted ;
    border-left-color: pink;
    margin: 40px;
    height: 100px;
    width: 100px;
}