#test{
        color: blue;
        background-color: blueviolet;
}

#test1{
    color: rgb(255, 0, 0);
    background-color: rgb(43, 226, 98);
}

#test2{
    color: rgb(0, 162, 255);
    background-color: rgb(135, 58, 87);
}


