.one{
    height: 200px;
    width: 200px;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border: 10px solid black;
    border-radius: 20px;
    transition: 0s all linear 0s;
    /* text-shadow: 4px 25px 2px rgb(0, 0, 0); */
}
.one:hover{
    border-radius: 200px;
    background-color: rgb(0, 0, 0);
    border: 10px solid dodgerblue;
    color: white;
    /* text-shadow: 4px 4px 2px rgb(255, 255, 255); */

}