div{
     height:250px;
     width: 250px;
     background-color: blue;
     border: 5px solid red;
     margin: 20px 30px;
     display: inline-block
}
.shape1{
    border-radius: 10px;
}
.shape2{
    border-radius: 250px 250px 0px 250px; 
}
.shape3{
    border-radius: 250px;
}
.shape4{
    border-radius: 80px 0px 80px 0px;
}
.shape5{
    border-radius: 250px 0px 0px 0px;
}
.shape6{
    border-radius: 25%; 
}
.shape7{
    border-radius: 250px 0px 250px 0px;
}
.shape8{
    border-radius: 100px 100px 0px 0px;
}
